/obj/
/libs/armeabi/

/acorn.so
/acorn.import.so
/acorn.import.scm
/acorn-draw.import.scm
/acorn-draw.import.so
/acorn-draw/acorn-draw.so
/glut-sandbox/glut-sandbox.so
/glut-sandbox/glut-sandbox.import.so
/glut-sandbox/glut-sandbox.import.scm
